{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
{% endblock %}
{% block body %}
	<div class="row mt-3">
		<div class="col-3">
			<img src="{{asset('img/' ~ app.user.img)}}" alt="" class="w-100 rounded-circle border border-white border-3">
			<h2 class="text-center">Bonjour
				{{app.user.name}}, Comment vas-tu ?</h2>
		</div>
		<div class="col-9">
			{% for post in posts %}
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-1 ps-3 pt-2">
							<img src="{{asset('img/' ~ post.user.img)}}" class="profileNavbarImg" alt="...">
						</div>
						<div class="col-11 px-2">
							<div class="card-body">
								<h5 class="card-title">{{post.user.name}}
									<small class="text-muted fs-6 fw-light">{{ post.createdat | ago }}</small>
								</h5>

								<p class="card-text">{{post.content}}</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<form class="text-center">
			<button class="btn btn-primary" name="limit" value="{{limit + 10}}">Chargez plus</button>
		</form>
	</div>
{% endblock %}
