{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
{% endblock %}
{% block body %}
	<div class="row mt-3">
		<div class="col-3">
			<img src="{{asset( app.user.img)}}" alt="" class="w-100 rounded-circle border border-white border-3">
			<h2 class="text-center">Bonjour
				{{app.user.name}}, Comment vas-tu ?</h2>
		</div>
		<div class="col-9">
			{% for post in posts %}
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-1 ps-3 pt-2">
							<img src="{{asset( post.user.img)}}" class="profileNavbarImg" alt="...">
						</div>
						<div class="col-11 px-2 d-flex">
							<div class="card-body pb-1">
								<h5 class="card-title">{{post.user.name}}
									<small class="text-muted fs-6 fw-light">{{ post.createdat | ago }}</small>
								</h5>

								<p class="card-text">{{post.content}}</p>
								{% if app.user in post.usersLike %}
									<p class="card-text">
										<a class="btn p-0" href="{{path('home.unlike', {id: post.id})}}">
											<i class="fa-solid fa-circle-heart"></i>
											{{	post.usersLike | length }}
										</a>
									</p>
								{% else %}
									<p class="card-text">
										<a class="btn p-0" href="{{path('home.like', {id: post.id})}}">
											<i class="fa-light fa-circle-heart"></i>
											{{	post.usersLike | length }}
										</a>
									</p>
								{% endif %}
							</div>
							{% if  app.user == post.user %}
								<div class="card-body d-flex align-items-center justify-content-end">
									<a class="btn" href="{{path('post.delete', {id: post.id})}}">
										<i class="fa-solid fa-trash"></i>
									</a>
								</div>

							{% endif %}
						</div>
						<div class="card-footer bg-transparent">

							<form class="d-flex justify-content-between align-items-center" method="post" action={{path('comment.create', {id: post.id} )}}>
								<div class="form-floating w-100">
									<textarea class="form-control" placeholder="a" name="content"></textarea>
									<label for="floatingTextarea">Commentaire</label>
								</div>
								<input type="hidden" name="postId" value="{{post.id}}">
								<button class="btn btn-primary ms-3">
									Publier</button>
							</form>

							<div {{ react_component('Comment', { comments: post.comments.toArray | serialize('json', { groups: 'group4'} ), currentuser: app.user.id } ) }}></div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<form action="#loadMore" class="text-center">
			<button id="loadMore" class="btn btn-primary" name="limit" value="{{limit + 10}}">Chargez plus</button>
		</form>
	</div>

{% endblock %}
