{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Membres
{% endblock %}

{% block body %}
	<div class=" mt-0 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
		{% for user in users %}

			<div class="col">
				<div class="card h-100 text-center">
					<img src="{{asset('img/' ~ user.img)}}" class="card-img-top h-100 object-fit-cover" alt="utilisateur">
					<div class="card-body">
						<h5 class="card-title">
							<a href="{{path('profile.index', {id: user.id})}}">{{user.name}}</a>
							{% if user.birthday %}
								({{'now' | date('Y') - user.birthday | date('Y')}}
								ans)
							{% endif %}
						</h5>
						<p class="card-text fw-bold">{{user.posts | length}}
							publications</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
